# Домашняя работа

## Задание 1

In [14]:
import pandas as pd
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [21]:
log.loc[log.traffic_source.str.contains('yandex|google'), 'source_type'] = 'organic'
log.loc[((log.traffic_source.isin(['paid','email'])) & (log.region == 'Russia')), 'source_type'] = 'ad'
log.loc[((log.traffic_source.isin(['paid','email'])) & ~(log.region == 'Russia')), 'source_type'] = 'other'

log.loc[pd.isnull(log.source_type), 'source_type'] = log['traffic_source']

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,other
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

## Задание 2

In [28]:
url_df = pd.read_csv('URLs.txt')
url_df.head()

url_df.loc[url_df.url.str.contains(r"\/{1}\d{8}\-"), 'url'].head(10)

3     /politics/36188461-s-marta-zhizn-rossiyan-susc...
4     /world/36007585-tramp-pridumal-kak-reshit-ukra...
5     /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6     /video/36001498-poyavilis-pervye-podrobnosti-g...
7     /world/36007585-tramp-pridumal-kak-reshit-ukra...
10    /middleeast/36131117-divizion-s-400-ne-zametil...
11    /economics/36065674-rossiyane-vozmutilis-minim...
12    /politics/36118047-otets-24-detey-potreboval-i...
13    /travel/36194479-v-sheremetevo-passazhiry-ustr...
14    /politics/35638742-nesolidno-mariya-zaharova-s...
Name: url, dtype: object

## Задание 3

In [20]:
from pymystem3 import Mystem
m = Mystem()

data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data['lemmas'] = data.apply(lambda row: ' '.join(m.lemmatize(row.keyword)), axis=1)
data.head()

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n