# Задание 1

In [2]:
import pandas as pd

In [7]:
ratings_df = pd.read_csv('ratings.csv')
print('movieId  count')
ratings_df[(ratings_df['rating']==5.0)]['movieId'].value_counts()[0:1]

movieId  count

318    153
Name: movieId, dtype: int64

# Задание 2

In [30]:
power_df = pd.read_csv('power.csv')
baltica_df = power_df[
     (power_df['country']=='Estonia') | 
     (power_df['country']=='Latvia') |
     (power_df['country']=='Lithuania')
]
year_filtered_baltica = baltica_df[
    (baltica_df['year'] >= 2005) &
    (baltica_df['year'] <= 2010)
] 
result_baltica = year_filtered_baltica[
    (year_filtered_baltica['category'] == 4) |
    (year_filtered_baltica['category'] == 12) |
    (year_filtered_baltica['category'] == 21)
]
result_baltica_positive = result_baltica[
    (result_baltica['quantity'] >= 0)
]
sum(result_baltica_positive['quantity'])

240580.0

# Задание 3

In [29]:
url = 'https://www.finanz.ru/valyuty/usd-rub'
table_df = pd.read_html(url, attrs = {'class': 'news_table'}, encoding='utf-8')
table_df

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  14.10.20    776813    770525    777988   769234
 1  13.10.20    770510    771364    774260   768622
 2  12.10.20    771350    769195    772590   767210
 3  11.10.20    769245    767705    769445   767705
 4  09.10.20    767715    773021    774225   766610
 5  08.10.20    773022    780681    781527   772860
 6  07.10.20    780645    784554    785188   779101
 7  06.10.20    784553    781355    786637   776190
 8  05.10.20    781354    783345    788800   778384,
        Имя  Unnamed: 1     %     курс                 Дата
 0  EUR/RUB         NaN    11    91258  15.10.2020 08:07:00
 1  USD/RUB         NaN  -534   776398  15.10.2020 08:06:00
 2  CHF/RUB         NaN  -205   850381  15.10.2020 08:07:00
 3  JPY/RUB         NaN -2071     7375  15.10.2020 08:07:00
 4  GBP/RUB         NaN  -149  1011103  15.10.2020 08:08:00
 5  NOK/RUB         NaN -1171     8397  15.10.2020 08:07:00
 6  AUD/RUB         NaN -4717   554115  15.10.2020 08:07:00
 7  NZD/RUB         NaN -2183   516382  15.10.2020 08:07:00
 8  TRY/RUB         NaN -2513    97965  15.10.2020 08:07:00]

# Задание 4

In [31]:
def classic(rating):
    if rating <= 2:
        return 'low'
    if 2 < rating <= 4.5:
        return 'medium'
    if 4.5 < rating <= 5:
        return 'high'

In [35]:
ratings_df['quality'] = ratings_df['rating'].apply(classic)
ratings_df.head()

   userId  movieId  rating  timestamp quality
0       1        1     4.0  964982703  medium
1       1        3     4.0  964981247  medium
2       1        6     4.0  964982224  medium
3       1       47     5.0  964983815    high
4       1       50     5.0  964982931    high

# Задание 5

In [49]:
keywords_df = pd.read_csv('keywords.csv')

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [43]:
def geo_classic(city):
    for region, cities in geo_data.items():
        if city in cities:
            return region
    return 'undefined'

In [48]:
keywords_df['region'] = keywords_df['keyword'].apply(geo_classic)
keywords_df[( keywords_df['region'] == 'Центр' )]

         keyword   shows region
1259      москва  153050  Центр
6075   ярославль   41720  Центр
11785       тула   23898  Центр

# Задание 6

In [63]:
import datetime, time
def return_year(timestamp):
    return datetime.datetime.fromtimestamp(timestamp).year

In [64]:
ratings_df['year'] = ratings_df['timestamp'].apply(return_year)

In [73]:
rating_by_year = ratings_df[['year', 'rating']]
rating_by_year.groupby('year').mean().sort_values('rating', ascending=False)

        rating
year
2013  3.877404
2011  3.784024
1999  3.772448
1997  3.727557
2016  3.686586
2008  3.655704
2012  3.641078
2002  3.606958
1996  3.535927
2015  3.513830
2001  3.512239
2014  3.510771
2004  3.506099
2003  3.499377
2006  3.487928
2010  3.463711
1998  3.435897
2005  3.431533
2009  3.393827
2000  3.392506
2018  3.389062
2017  3.348640
2007  3.309028