# Задание 1

In [34]:
word = 'testi'

In [33]:
if len(word) % 2 == 0:
    start = (len(word)-1) // 2
    print(word[start:start+2])
else:
    mid = len(word) // 2
    print(word[mid])

s

## Задание 2

In [70]:
def summary():
    s = 0
    while(True):
        num = int(input('Введите целое число: '))
        if num <= 0:
            yield s
        else:
            s += num
summa = summary()
print(next(summa))

Введите целое число: 4
Введите целое число: 7
Введите целое число: 0
11

## Задание 3

In [37]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [39]:
if len(boys) == 0 or len(girls) == 0:
    print('Заполните массивы девшек и парней!')
elif len(boys) != len(girls):
    print('Внимание, кто-то может остаться без пары!')
else:
    boys.sort()
    girls.sort()
    for boy, girl in zip(boys, girls):
        print(boy + ' и ' + girl)

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

## Задание 4

In [42]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [56]:
from functools import reduce 
for country in countries_temperature:
    average_temperature = reduce(lambda x,y: x + y, country[1])/len(country[1])
    print(country[0] + ' - ' + str(average_temperature))

Thailand - 74.94285714285714
Germany - 56.839999999999996
Russia - 38.68571428571429
Poland - 53.599999999999994

## Задание 5

In [57]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [63]:
unique_users = []
s = 0

for entry in stream:
    *first, user, views = entry.split(',')
    if user not in unique_users:
        unique_users.append(user)
    s += int(views)

average = s / len(unique_users)
print('Среднее количество просмотров на уникального пользователя: ' + str(average))

Среднее количество просмотров на уникального пользователя: 23.25

In [68]:
numbers = list(map(int, input('Введите числа: ').split(' ')))
unique_num = []
ununique = []

for i in numbers:
    if i not in unique_num:
        unique_num.append(i)
    elif i not in ununique:
        ununique.append(i)
    else:
        continue

if len(ununique) > 0:
    for i in ununique:
        print(i, end=' ')
else:
    'Нет повторений'

Введите числа: 1 1 2 2 3 3
1 2 3