# Задание 1

In [75]:
def middle_word(word):
  if len(word) % 2 == 0:
      start = (len(word)-1) // 2
      print(word[start:start+2])
  else:
      mid = len(word) // 2
      print(word[mid])

In [76]:
middle_word('test')

es

In [77]:
middle_word('testi')

s

## Задание 2

In [41]:
def summary():
    s = 0
    while(True):
        num = int(input('Введите целое число: '))
        if num <= 0:
            yield s
        else:
            s += num
summa = summary()
print(next(summa))

Введите целое число: 1
Введите целое число: 2
Введите целое число: 3
Введите целое число: 0
6

## Задание 3

In [78]:
def boys_n_girls(boys, girls):  
  if len(boys) == 0 or len(girls) == 0:
      print('Заполните массивы девшек и парней!')
  elif len(boys) != len(girls):
      print('Внимание, кто-то может остаться без пары!')
  else:
      boys.sort()
      girls.sort()
      for boy, girl in zip(boys, girls):
          print(boy + ' и ' + girl)

In [79]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

boys_n_girls(boys, girls)

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [80]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma']
boys_n_girls(boys, girls)

Внимание, кто-то может остаться без пары!

In [81]:
boys = []
girls = []
boys_n_girls(boys, girls)

Заполните массивы девшек и парней!

## Задание 4

In [3]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [73]:
# средняя температура в цельсиях
country_avg_temp = lambda country: sum(country[1])/len(country[1])

# вывод одной страны с средней температурой
one_country_repr = lambda x: x[0] + ' - {:.1f}C'.format((5/9)*(country_avg_temp(x) - 32))

# вывод всех стран, используя темную магию генераторов
print('\n'.join([one_country_repr(country) for country in countries_temperature]))

Thailand - 23.9C
Germany - 13.8C
Russia - 3.7C
Poland - 12.0C

## Задание 5

In [12]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [36]:
unique_users = {x.split(',')[1]: x.split(',')[2] for x in stream}
avg = sum([int(x.split(',')[2]) for x in stream])/len(unique_users)
print('Средняя посещаемость уникальных пользователей: {:.2f}'.format(avg))

Средняя посещаемость уникальных пользователей: 23.25

## Задание 6

In [63]:
unique_num = ' '.join({str(int(x)) for x in input('Введите повторяющиеся целые числа: ').strip().split(' ')})
print(unique_num)

Введите повторяющиеся целые числа: 1 2 3 4 4 4
3 4 1 2